<section>
  <h2>Edit Category</h2>
  <article *ngIf="Category">
    <div>
      <label for="HeadCategorySelectBox">Hoofdcategorie</label>
        <select [(ngModel)]="Category.headCategoryId" id="HeadCategorySelectBox" >
          <option *ngFor="let hc of HeadCategories" value={{hc.id}}>
            {{hc.name}}
          </option>
        </select>
    </div>
    <div>
      <label for="NewCategoryName">Category Name</label>
        <input type="text" [(ngModel)]="Category.name" id="NewCategoryName" />
    </div>
    <div>
      <label for="NewFaName">Icon name</label>
        <input type="text" [(ngModel)]="Category.faName" id="NewFaName" />
        <span>Bekijk de namen van alle mogelijke icons <a href="http://fontawesome.io/icons/" target="_blank">hier</a>.</span>
    </div>
    <div>
      <label for="iconPreview">Icon preview</label>
      <i class="fa {{Category.faName}} fa-5x" aria-hidden="true" id="iconPreview"></i>
    </div>
    <div>
      <button (click)="submitForm()" class="btn">aanpassen</button>
    </div>
    <p class="errorMessage" *ngFor="let errorMessage of errorMessages">
      {{errorMessage}}
    </p>

  </article>
</section>

